@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

@layer base {
    body {
        @apply font-jersey bg-accent text-accent4 leading-loose;
    }
    .h1 {
        @apply text-[38px] xl:text-[58px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[28px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
    .text-outline{
        -webkit-text-stroke: 1px #ffffff;
    }
    .text-outline-hover{
        -webkit-text-stroke: 1px black;
    }
}

/* Fonts */
@layer utilities {
    .font-jersey {
        font-family: 'Jersey 20', sans-serif;
    }
}

@layer utilities {
    .font-tungsten {
        font-family: 'Tungsten', sans-serif;
    }
}

/* Fade In when switching between pages */
@layer utilities {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }
    
        .fade-in {
            animation: fadeIn 1.5s ease-in-out;
        }
}

/* @layer utilities {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }
    
        .fade-in {
            animation: fadeIn 1.5s ease-in-out;
        }
} */

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
    /* height:2000px; */
    
}

.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* transition-delay: 0.4s; Delay before flip starts */
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;
    /* color: black; */
    border-radius: 1.5rem;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: white;
    border-radius: 1.5rem;
    transform: rotateY(180deg);
  }

   th {
    padding: 8px;
  }

   td {
    padding: 8px;
  }
/* 
  td {

  }  */ 

tr:nth-child(even) {background-color: #0B0C2A;}


